{
  "trailingComma": "es5",
  "printWidth": 100,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-organize-imports"]
}
